<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
  <nav>
    <a routerLink="create" routerLinkActive="active">Add coins</a>
  </nav>
  <router-outlet></router-outlet>
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active">
          <a routerLink="create" routerLinkActive="active">
            Add coins
          </a>
        </li>    
      </ul>
    </div>
  </nav>
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <!--***************************************************************-->
  
  <div style="text-align:center">
    <div class="header">
      <h1>
        Goal Digger
      </h1>
    
      <p>Your personal goal tracker</p>
  </div>

  <div class="quote">
      <h2>Quote of the day for </h2>
      <!--Place holder for quotes being pulled from an api-->
</div>
</div>